<% include ./partials/header %> 
<body>
    <!-- Main content -->
    <!-- Go back -->
    <a href="../../index.html" class="btn btn-neutral btn-icon-only rounded-circle position-absolute left-4 top-4 d-none d-lg-inline-flex" data-toggle="tooltip" data-placement="right" title="Go back">
        <span class="btn-inner--icon">
            <i data-feather="arrow-left"></i>
        </span>
    </a>
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-between min-vh-100">
                <div class="col-12 col-md-6 col-xl-7 order-md-2">
                    <!-- Image -->
                    <img alt="Image placeholder" src="../../assets/img/svg/illustrations/illustration-13.svg" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 col-xl-5 order-md-1 text-center text-md-left">
                    <!-- Heading -->
                    <h6 class="display-1 mb-3 font-weight-600 text-warning">Ooops!</h6>
                    <!-- Text -->
                    <p class="lead text-lg mb-3">
                        Payment Error<br/>
                        Your Registration could not be processed.
                    </p>
                    <!-- Button -->
                    <a href="/payment/pay" class="btn btn-dark btn-icon hover-translate-y-n3">
                        <span class="btn-inner--icon"><i data-feather="home"></i></span>
                        <span class="btn-inner--text">Return</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
<% include ./partials/footer %> 