<html>
<head>
<title> DATA TABLE</title>



<link href="cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<link href="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">


</head>


<body>
<script>

$(document).ready( function () {
    $('#myTable').DataTable();
} );

</script>



    

</body>
</html>