<% include ./partials/header %> 

<body>
    <!-- Header -->
    <header class="" id="header-main">

    </header>
    <!-- Omnisearch -->
    <div id="omnisearch" class="omnisearch">
        <div class="container">
            <div class="omnisearch-container">
                <!-- Search form -->
                <form class="omnisearch-form">
                    <div class="form-group">
                        <div class="input-group input-group-merge input-group-flush">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i data-feather="search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Type and hit enter ...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section>
        <!-- Container -->
        <div class="container d-flex align-items-center text-center text-lg-left py-5 py-lg-6 border-bottom">
            <div class="col px-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <!-- Title -->
                        <h2 class="h1 mb-2">Terms and Conditions</h2>
                        <h6 class="font-weight-light text-muted">Last updated: Jan 15th, 2021</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice">
        <div class="container">
            <div class="row row-grid justify-content-between">
                <div class="col-lg-3">
                    <div data-toggle="sticky" data-sticky-offset="50">
                        <div class="card">
                            <div class="card-body">
                                <nav class="nav nav-pills flex-column" id="nav-terms">
                                    <a class="nav-link text-sm" href="#item-1" data-scroll-to data-scroll-to-offset="130">Introduction</a>
                                    <a class="nav-link text-sm" href="#item-2" data-scroll-to data-scroll-to-offset="130">Intellectual Property Rights</a>
                                    <a class="nav-link text-sm" href="#item-3" data-scroll-to data-scroll-to-offset="130">Restrictions</a>
                                    <a class="nav-link text-sm" href="#item-4" data-scroll-to data-scroll-to-offset="130">Your Content</a>
                                    <a class="nav-link text-sm" href="#item-5" data-scroll-to data-scroll-to-offset="130">No warranties</a>
                                    <a class="nav-link text-sm" href="#item-6" data-scroll-to data-scroll-to-offset="130">Limitation of liability</a>
                                    <a class="nav-link text-sm" href="#item-7" data-scroll-to data-scroll-to-offset="130">Indemnification</a>
                                    <a class="nav-link text-sm" href="#item-8" data-scroll-to data-scroll-to-offset="130">Severability</a>
                                    <a class="nav-link text-sm" href="#item-9" data-scroll-to data-scroll-to-offset="130">Assignment</a>
                                    <a class="nav-link text-sm" href="#item-10" data-scroll-to data-scroll-to-offset="130">Entire Agreement</a>
                                    <a class="nav-link text-sm" href="#item-11" data-scroll-to data-scroll-to-offset="130">Governing Law & Jurisdiction</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h5 id="item-1">Introduction</h5>
                        <p>
                            These Worka-Nigeria Standard Terms and Conditions written on this webpage shall manage your use of the Worka-Nigeria Web-App.
                        </p>
                        <p>
                            These Terms will be applied fully and affect to your use of Worka-Nigeria. By using this Web-App, you agree to accept all terms and conditions written in here. You must not use this Web-App if you disagree with any of these
                            Web-App Standard Terms and Conditions.
                        </p>
                       
                    </div>
                    <div class="mb-5">
                        <h5 id="item-2">Intellectual Property Rights</h5>
                        <p>
                            Other than the content you own, under these Terms, Worka-Nigeria and/or its licensors own all the intellectual property rights and materials contained in this Web-App.
                        </p>
                        <p>
                            You are granted limited license only for purposes of viewing the material contained on this Web-App.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-3">Restrictions</h5>
                        <p>
                            You are specifically restricted from all of the following:
                        </p>
                        <ul>
                           
                            <li>
                                selling, sublicensing and/or otherwise commercializing any Worka-Nigeria Web-App's material;
                            </li>
                            <li>
                                publicly performing and/or showing any Worka-Nigeria Web-App's material;
                            </li>
                            <li>
                                using this Web-App in any way that is or may be damaging to this Web-App;
                            </li>
                            <li>
                                using this Web-App in any way that impacts user access to this Web-App;
                            </li>
                            <li>
                                using this Web-App contrary to applicable laws and regulations, or in any way may cause harm to the Web-App, or to any person or business entity;
                            </li>
                            <li>
                                engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Web-App, without formal authorization from a Worka-Nigeria administrator;
                            </li>
                            <li>
                                using this Web-App to engage in any advertising or marketing.
                            </li>
                            <li>
                                Certain areas of this Web-App are restricted from being access by you and Company Name may further restrict access by you to any areas of this Web-App, at any time, in absolute discretion. Any user ID and password you may
                                have for this Web-App are confidential and you must maintain confidentiality as well.
                            </li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-4">Your Content</h5>
                        <p>
                            In these Worka-Nigeria's Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Web-Appe. By displaying Your Content, you grant Worka-Nigeria a
                            non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
                        </p>
                        <p>
                            Your Content must be your own and must not be invading any third-party's rights. Worka-Nigeria reserves the right to remove any of Your Content from this Web-App at any time without notice.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-5">No warranties</h5>
                        <p>
                            This Web-App is provided “as is,” with all faults, and Worka-Nigeria expresses no representations or warranties, of any kind related to this Web-App or the materials contained on this Web-App. Also, nothing contained on this
                            Web-App shall be interpreted as advising you.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-6">Limitation of liability</h5>
                        <p>
                            In no event shall Worka-Nigeria, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Web-App whether such liability is under
                            contract. Worka-Nigeria, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Web-App.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-7">Indemnification</h5>
                        <p>
                            You hereby indemnify to the fullest extent Worka-Nigeria from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of
                            these Terms.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-8">Severability</h5>
                        <p>
                            If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-9">Assignment</h5>
                        <p>
                            Worka-Nigeria is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you (the User of Worka-Nigeria's Web-App) are not allowed to assign, transfer, or subcontract any of your rights
                            and/or obligations under these Terms.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-10">Entire Agreement</h5>
                        <p>
                            These Terms constitute the entire agreement between Worka-Nigeria and you (the User of Worka-Nigeria's Web-App) in relation to your use of this Web-App, and supersede all prior agreements and understandings.
                        </p>
                    </div>
                    <div class="mb-5">
                        <h5 id="item-11">Governing Law & Jurisdiction</h5>
                        <p>
                            These Terms will be governed by, and interpreted in accordance with the laws of Lagos State of Nigeria, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Nigeria for the resolution of
                            any disputes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
</body>
<% include ./partials/footer %>