
    <!-- Main content -->
   
    <section class="slice slice-lg">
        <div class="container">
            <span class="badge badge-primary badge-pill">Services Offered</span>
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <p class="h5 lh-180">
                       <h5 class="m-0">
   Our range of Services are
    <span class="text-info typed" id="type-example" data-type-this="creativity., imagination., energy., inspiration.">unparalleled.</span>
</h5>
                </p>
                </div>
             
            </div>
        </div>
    </section>
 
    <section class="slice slice-lg pt-6 bg-primary">
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" 
			viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <!-- Container -->
        <div class="container">
			<div>
            <div class="row row-grid">
                <div class="col-lg-8">
                   
                    <!-- Title -->
                    <h2 class="my-2 text-white">SealedApp Services</h2>
                    <!-- Badge -->
                    <span class="badge badge-warning badge-pill">Optimum Service delivery</span>
					 <h5 class="text-light mt-3">Click on the boxes below to Understand our various services</h5>
					<hr/>
				  
                </div>
            </div>
            <!-- Milestones -->
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-5 mr-1">
						<div id="accordion-2" class="accordion accordion-spaced">
    
    <!-- Accordion card 1 -->
    <div class="card">
        <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button" data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
            <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>Register a Company</h6>
        </div>
        <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
            <div class="card-body">
                <p>Easily register (or incorporate) your company or Business Name by submitting a few details to SealedApp, and let our application 
				technology in collaboration with our staff do the hassle. 
				With SealedApp, the company registration is cut down to about one-third the original time it takes.
				This is possible because of SealedApp’s tech-based approach.</p>
				
				<div class="d-flex align-items-end justify-content-md-end">
                <a href="#" class="btn btn-white btn-icon">
                    <span class="btn-inner--text">Register Here</span>
                    <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                </a>
            </div>
   		</div>
        </div>
    </div> 
	</div> 
				     </div>
                         <div class="col-sm-5 mr-1">
						
                           					
							<div id="accordion-2" class="accordion accordion-spaced">
							 <!-- Accordion card 2 -->
    <div class="card">
        <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
            <h6 class="mb-0"><i data-feather="unlock" class="mr-3"></i>Search For Business Name</h6>
        </div>
        <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
            <div class="card-body">
                <p>   Want to register a Business Name? That’s great! Before this however, the availability of the Business Name at the 
				Corporate Affairs Commission must be checked, because those already registered cannot be used by another business.
				This service can be completed on SealedApp very easily, and in under five (5) seconds.   </p>
				<div class="d-flex align-items-end justify-content-md-end">
                <a href="#" class="btn btn-white btn-icon">
                    <span class="btn-inner--text">Search Here</span>
                    <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                </a>
            </div>
            </div>
        </div>
    </div>
			</div>			
                </div>
				 </div>
                </div>
            </div>
			
			<hr class="d-md-none"/>
			
			 <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-5 mr-1">
			
			<div id="accordion-2" class="accordion accordion-spaced">
			 <!-- Accordion card 3 -->
    <div class="card">
        <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button" data-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-3">
            <h6 class="mb-0"><i data-feather="folder" class="mr-3"></i>Change Your Name</h6>
        </div>
        <div id="collapse-2-4" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
            <div class="card-body">
                <p>    
Finally decided to Change Your Name? Achieve this, and cut all unnecessary protocols in a very short time, by uploading a few details to SealedApp,
 and we’ll handle the rest. This service includes obtaining a legal authorization for a recognized name change, 
and publishing the Change of Name in a selected Newspaper House. </p>

			<div class="d-flex align-items-end justify-content-md-end">
                <a href="#" class="btn btn-white btn-icon">
                    <span class="btn-inner--text">Change Name Here</span>
                    <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                </a>
            </div>


            </div>
        </div>
    </div>
	 </div>
	    </div>
                         <div class="col-sm-5 mr-1">
						
	 
	 
	 <div id="accordion-2" class="accordion accordion-spaced">
							 <!-- Accordion card 2 -->
    <div class="card">
        <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-5" aria-expanded="false" aria-controls="collapse-2-2">
            <h6 class="mb-0"><i data-feather="unlock" class="mr-3"></i>Generate Contract Documents</h6>
        </div>
        <div id="collapse-2-5" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
            <div class="card-body">
                <p>
					Possessing legal documentation for your contract agreements does not have to cost you much more than a few clicks. 
					SealedApp takes care of generating your legal contract documentations,
					on the fly, in less than three (3) seconds!
				</p>
				
				<div class="d-flex align-items-end justify-content-md-end">
                <a href="#" class="btn btn-white btn-icon">
                    <span class="btn-inner--text">Generate Contracts Here</span>
                    <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                </a>
            </div>
            </div>
        </div>
    </div>
			</div>	
			
			
			 </div>
			  </div>
			   </div>
			    </div>
			 
			 <hr class="d-md-none"/>
			
			 <div class="row justify-content-center pb-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-5 mr-1">
			<div id="accordion-2" class="accordion accordion-spaced">
			 <!-- Accordion card 3 -->
    <div class="card">
        <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button" data-target="#collapse-2-6" aria-expanded="false" aria-controls="collapse-2-3">
            <h6 class="mb-0"><i data-feather="folder" class="mr-3"></i>Generate a Deed of Gift</h6>
        </div>
        <div id="collapse-2-6" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
            <div class="card-body">
                <p>   Need to gift someone a valuable possession, or your property? SealedApp helps you to generate the legal
				documentation required to seal this agreement, to forestall any potential occurrence of another party kicking against this,
				and to make this transfer of ownership of property sealed.  </p>
				<div class="d-flex align-items-end justify-content-md-end">
                <a href="#" class="btn btn-white btn-icon">
                    <span class="btn-inner--text">Generate Here</span>
                    <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                </a>
            </div>
            </div>
        </div>
    </div>
	 </div>
	    </div>
                         <div class="col-sm-5 mr-1">
						
	 
	 
	 <div id="accordion-2" class="accordion accordion-spaced">
							 <!-- Accordion card 2 -->
    <div class="card">
        <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-7" aria-expanded="false" aria-controls="collapse-2-2">
            <h6 class="mb-0"><i data-feather="unlock" class="mr-3"></i>Locate a Lawyer</h6>
        </div>
        <div id="collapse-2-7" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
            <div class="card-body">
                <p>  This is SealedApp’s free service for registered Lawyers. Lawyers can now search for 
				other Lawyers with a specific set of criteria such as years of experience, 
				area of practice, and location.   </p>
				<div class="d-flex align-items-end justify-content-md-end">
                <a href="#" class="btn btn-white btn-icon">
                    <span class="btn-inner--text">Find Lawyer Here</span>
                    <span class="btn-inner--icon">
                        <i data-feather="arrow-right" class="text-warning"></i>
                    </span>
                </a>
            </div>
            </div>
        </div>
    </div>
			</div>	
			
			
			 </div>
			  </div>
			   </div>
			    </div>
			 
			  </div>
        </div>
		
		<!-- SVG separator -->
       
	   
	   
	    <div class="shape-container shape-line shape-position-bottom">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
		
		
    </section>
