
<!-- Header -->
<header class="" id="header-main"><!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-gradient-primary" id="navbar-main">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img style="border-radius:30px;" alt="Image placeholder" src="/images/mine.png" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                <!-- Toggler --> 
                <div class="position-relative">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <!-- Main navigation -->
                <ul class="navbar-nav ml-lg-auto">
    <!-- Overview -->
    <li class="nav-item nav-item-spaced d-none d-lg-block">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        
    </li>
	 <li class="nav-item nav-item-spaced d-none d-lg-block">
       <a class="nav-link" href="/users/about">About Worka Nigeria</a>
    </li>
	 <li class="nav-item nav-item-spaced d-none d-lg-block">
        <a class="nav-link" href="/users/services">What we do</a>
    </li>
 <li class="nav-item nav-item-spaced d-none d-lg-block">
         <a class="nav-link" href="/users/contact">Reach Out</a>
    </li>
    </ul>    
      <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
    <!-- Auth -->
    <li class="nav-item">
       <div class="btn-group">
  <a  class="btn btn-warning" href="/users/login">Login/ Register</a>
</div>
    </li>
</ul>
 <!-- Mobile button -->
                <div class="d-lg-none px-4 text-center"><ul>
                        <li>  
                            <a href="/users/services" class="btn btn-block btn-sm btn-primary" target="_blank">Learn More</a>
                        </li>
                        <li>  
                            <a href="/payment/pay" class="btn btn-block btn-sm btn-primary" target="_blank">Register / Login</a>
                        </li>   
                     </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

